[submodule "ext/zwin"]
	path = ext/zwin
	url = git@github.com:IridescenceTech/zwin.git
[submodule "ext/glad"]
	path = ext/glad
	url = git@github.com:IridescenceTech/Aether-GLAD.git
[submodule "ext/vulkan"]
	path = ext/vulkan
	url = git@github.com:Snektron/vulkan-zig.git
[submodule "ext/stbi"]
	path = ext/stbi
	url = git@github.com:IridescenceTech/Aether-STBI.git
[submodule "ext/tracy"]
	path = ext/tracy
	url = git@github.com:cipharius/zig-tracy.git